body {
    background-image: url('93de81b5de69cf684af95a6a11bf93d4.gif');
    
}
h1 {
    color: #e16aff;
    text-align: center;
    font-family: 'fantasy';
    font-size: 57px;
    text-shadow: 2px 2px 4px #ff92e2;

}

h2 {
    color: #e16aff;
    text-align: center;
    font-family: 'fantasy';
    font-size: 32px;
    text-shadow: 2px 2px 4px #ff92e2;
}

hr {
    border: 2px solid #fc2fe4;
    margin: 20px 0;
  
}
h3 {
    color: #e16aff;
    text-align: center;
    font-family: 'fantasy';
    font-size: 30px;
    text-shadow: 2px 2px 4px #ff92e2;

}   


p {
    color: #e16aff;
    text-align: center;
    font-family: 'fantasy';
    font-size: 25px;
    text-shadow: 2px 2px 4px #ff92e2;

}
li {
    color: #c209f0;
    text-align: left;
    font-family: 'fantasy';
    font-size: 30px;
    text-shadow: 2px 2px 4px #ff92e2;

}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 10px solid #ee089a;
  text-align: left;
  padding: 13px;
}

tr:nth-child(even) {
  background-color: #e16fe8;
  color: #ede8f2;

}
a {
    color: #c606c6;
    font-family: 'fantasy';
    font-size: 30px;
    text-shadow: 2px 2px 4px #ff92e2;
}

.navbar {
  width: 100%;
  background-color: #f385e8;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: rgb(74, 8, 94);
  text-decoration: none;
  font-size: 17px;
  width: 25%;
  text-align: center;
}

.navbar a:hover {
  background-color: #ed15b0;
}

.navbar a.active {
  background-color: #a55ff6;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}